/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}

/* FONT */
body{
    font-family: 'Open Sans', sans-serif;
}
/* LAYOUT */
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(4*100%/12);
}

/* MAIN STYLE */
.page-content .col-4{
    padding:20px 12px;
}
.page-content .brand{
    font-weight: 400;
    font-size: 12px;
}
.page-content .description{
    font-size: 14px;
    line-height: 12px;
}
.page-content .price, .first-price{
    font-size: 12px;
    position: relative;
    bottom: 4px;
}
.page-content .price{
    font-weight: 700;
    color: red;
}
.page-content .first-price{
    text-decoration: line-through;
}