/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}

/* FONT */
body{
    font-family: 'Open Sans', sans-serif;
}
/* LAYOUT */
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(4*100%/12);
}

/* MAIN STYLE */
.page-content .col-4{
    padding:20px 12px;
}
.card-head{
    position: relative;
}
.brand{
    font-weight: 400;
    font-size: 12px;
}
.description{
    font-size: 14px;
    line-height: 12px;
}
.price, .first-price{
    font-size: 12px;
    position: relative;
    bottom: 4px;
}
.price{
    font-weight: 700;
    color: red;
}
.first-price{
    text-decoration: line-through;
}
.badge{
    font-weight: 700;
    font-size:14px ;
    position: absolute;
    color: white;
    bottom: 30px; 
    z-index: 10;
}
.discount{
    background-color: red;
}
.sostenibility{
    background-color: green;
}
.badge:nth-child(2){
    left:36px;
}
.heart{
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 22px;
    width: 36px;
    height: 36px;
    top: 4px;
    left: 90%;
    z-index:10;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}
.heart:hover{
    color: red;
}